.Products{
    background-color: var(--background-color_w);
    height: fit-content;
    width: 100%;
}
.ProductsContent{
    margin: 0 auto;
    padding: 100px 4rem 25px 4rem;
    max-width: 138rem;
}
.ProductsContent .ProductsContent-Titles{
    margin-bottom: 4rem;
}
.ProductsContent .ProductsContent-Titles h1{
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color);
}
.ProductsContent .ProductsContent-Titles h2{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--color);
}
.ProductsCards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-card{
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 20px);
    /* max-width: 25%; */
    gap: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.product-card .product-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.product-card .product-img::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.457), transparent);
    pointer-events: none;

}
.product-card .product-img img{
    width: 100%;
    border-radius: 5px;
}
.product-card .product-details{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: opacity 0.1s ease-in-out;
    opacity: 1;
}
.product-card .product-details .productTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
}
.product-card .product-details .productTitle h2{
    font-family: 'Poppins',sans-serif;
    font-size: 1.9rem;
    font-weight: 800;
    color: white;
}
.product-card .product-details .productPrincing{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.product-card .product-details .productPrincing span:nth-child(1){
    font-family: 'Poppins',sans-serif;
    font-size: 1.15rem;
    color: white;
    font-weight: 300;
    text-decoration: line-through;
}
.product-card .product-details .productPrincing span:nth-child(2){
    font-family: 'Poppins',sans-serif;
    font-size: 1.15rem;
    color: white;
    font-weight: 600;
}
.ProductsContent .ProductsContent-Btn{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.ProductsContent .ProductsContent-Btn a{
    text-decoration: none;
}
.ProductsContent .ProductsContent-Btn span{
    border: 1px solid var(--color);
    background-color: var(--color);
    padding: 1rem 2rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1.4rem;
    color: var(--rev-color);
    font-weight: 500;
    border-radius: 50px;
}
@media (max-width: 1200px) {
    .product-card{
        flex: 1 1 calc(50% - 20px);
    }
}
@media (max-width: 768px) {
    .ProductsContent{
        margin: 0 auto;
        padding: 120px 2rem 25px 2rem;
        max-width: 138rem;
    }
    .ProductsContent .ProductsContent-Titles h1{
        text-align: left;
    }
    .ProductsContent .ProductsContent-Titles h2{
        text-align: left;
    }
}
@media (max-width: 650px) {
    .product-card{
        flex: 1 1 calc(100% - 20px);
    }
}