@font-face {
    font-family: 'DxLactos';
    src: url('../font/DxLactos-Regular-free-personal-use.otf') format('opentype');
}

.heroBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.heroContent{
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100%;
    gap: 3rem;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: var(--background-url);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heroCompanyName{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--color);
    padding: 1rem 2rem;
    border-radius: 50px;
    opacity: 0;
}
.heroCompanyName span {
    color: var(--rev-color);
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
.heroCompanyName span svg{
    color: var(--rev-color);
}
.heroTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.heroTitle h1{
    font-size: 6rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
    color: var(--color);
    text-align: center;
}
.heroTitle .heroTitleDesignLine2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.heroTitle .heroTitleDesignLine2 h1{
    font-size: 6rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
    color: var(--color);
    text-align: center;
}
.heroTitle .heroTitleDesignLine2 span{
    border: 1px solid var(--color);
    background-color: white;
    border-radius: 50px;
    padding: 0rem 3rem;
}
.heroTitle .heroTitleDesignLine2 span img{
    width: 50px;
}
.heroRediction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    opacity: 0;
}
.heroRediction a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--color);
    padding: 1rem 2rem;
    color: var(--rev-color);
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 900px) {
    .heroTitle h1{
        font-size: 5rem;
    }
    .heroTitle .heroTitleDesignLine2 h1{
        font-size: 5rem;
    }
    .heroTitle .heroTitleDesignLine2 span{
        padding: 0rem 2rem;
    }
    .heroTitle .heroTitleDesignLine2 span img{
        width: 40px;
    }
}
@media (max-width: 760px) {
    .heroTitle h1{
        font-size: 4rem;
    }
    .heroTitle .heroTitleDesignLine2 h1{
        font-size: 4rem;
    }
    .heroTitle .heroTitleDesignLine2 span{
        padding: 0rem 2rem;
    }
    .heroTitle .heroTitleDesignLine2 span img{
        width: 40px;
    }
}
@media (max-width: 620px) {
    .heroTitle h1{
        font-size: 3rem;
    }
    .heroTitle .heroTitleDesignLine2 h1{
        font-size: 3rem;
    }
    .heroTitle .heroTitleDesignLine2 span{
        padding: 0rem 1.5rem;
    }
    .heroTitle .heroTitleDesignLine2 span img{
        width: 30px;
    }
}
@media (max-width: 450px) {
    .heroTitle h1{
        font-size: 2.5rem;
    }
    .heroTitle .heroTitleDesignLine2 h1{
        font-size: 2.5rem;
    }
    .heroTitle .heroTitleDesignLine2 span{
        padding: 0rem 1.25rem;
    }
    .heroTitle .heroTitleDesignLine2 span img{
        width: 25px;
    }
    .heroCompanyName{
        gap: 2.5rem;
        padding: 0.75rem 1.5rem;
        border-radius: 50px;
    }
    .heroCompanyName span {
        font-size: 1.25rem;
    }
}