*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins',sans-serif;
    position: relative;
}
html {
    font-size: 65%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: var(--background-color_g);
}
nav {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    background-color: var(--background-color_w);
}
nav .navLinks,
nav .navLogo,
nav .darkmode_toggele {
    flex: 1;
    display: flex;
    align-items: center;
}
nav .navLinks {
    justify-content: flex-start;
}
nav .navLogo {
    justify-content: center;
}
nav .darkmode_toggele {
    justify-content: flex-end;
    gap: 15px;
}
nav .navLinks ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav .navLinks ul li a {
    text-decoration: none;
    color: var(--color);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: 0.1s ease-in;
}
nav .navLinks ul li a:hover {
    font-weight: 600;
    border-bottom: 2px solid var(--color);
}
nav .navLogo img {
    width: 50px;
}
.darkmode_toggele svg {
    cursor: pointer;
}
#openMenuSvg{
    display: none;
    color: var(--color);
}
.mobileNav{
    align-items: center;
    background-color: var(--background-color_w);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 9999;
}
.closed-menu {
    left: -100% !important;
}
.mobileNav span{
    cursor: pointer;
    position: absolute;
    right: 5rem;
    top: 3rem;
    color: var(--color);
}
.mobileNav ul {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    gap: 4rem;
    list-style: none;
}
.mobileNav ul a{
    font-weight: 600;
    text-decoration: none;
    color: var(--color);
}
[class*="MuiBadge-"] {
    font-size: 1rem !important;
}

@media screen and (max-width: 1000px){
    nav {
        padding: 20px 20px;
    }
    nav .navLinks{
        display: none;
    }
    nav .navLogo {
        justify-content: flex-start;
    }
    #openMenuSvg{
        display: block;
        color: var(--color);
    }
}
@media screen and (max-width: 684px){
    .darkmode_toggele{
        width: fit-content;
    }
}