*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'DxLactos';
    src: url('../font/DxLactos-Regular-free-personal-use.otf') format('opentype');
}
.intro-section{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.IntroContainer{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.intro-content {
    display: grid;
    justify-content: center;
    width: 100%;
}
.intro-content h1{
    color: transparent;
    font-family: 'DxLactos';
    font-weight: 500;
    font-size: 4rem;
    overflow: hidden;
    background-color: white;
    margin-top: 2rem;
    text-align: center;
}
.intro-content h1 span{
    font-family: 'DxLactos';
    font-weight: 500;
    font-size: 4rem;
    transform: translateY(100%);
    animation: text-animation 1.25s ease forwards 4.1s;
    display: inline-block;
    text-align: center; 
    color: #000000;
    margin-top: 2rem;
    letter-spacing: 5px;

}
.intro-bar {
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#logo{
    stroke-width: 1;
    animation: fill 1s ease forwards 3.1s;
}
#logo path:nth-child(1){
    stroke-dasharray: 846.4480590820312px;
    stroke-dashoffset: 846.4480590820312px;
    animation: line-animation 3s ease forwards, fillAnimation 3s ease forwards 3s;
}
#logo path:nth-child(2){
    stroke-dasharray: 794.2429809570312px;   
    stroke-dashoffset: 794.2429809570312px;
    animation: line-animation 3s ease forwards, fillAnimation 3s ease forwards 3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 1421.5882568359375px;   
    stroke-dashoffset: 1421.5882568359375px;
    animation: line-animation 3s ease forwards, fillAnimation 3s ease forwards 3s;
}


@keyframes line-animation {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fillAnimation {
    0% {
        fill: transparent;
    }
    100% {
        fill: #000000;
        stroke-width: 0;
    }
}

@keyframes text-animation {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}
