.WhatsAppIcon{
    position: fixed;
    bottom: 0;
    right: 0;
    background: #25d366;
    padding: 10px;
    margin: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.WhatsAppIcon a {
    text-decoration: none;
}
.WhatsAppIcon a svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    fill: #F9F9F9;
    cursor: pointer;
}