.ProgressCrads{
    background-color: var(--background-color_w);
    height: fit-content;
    width: 100%;
}
.ProgressCradsContent{
    margin: 0 auto;
    padding: 180px 4rem 0px 4rem;
    max-width: 138rem;
}
.ProgressCradsContent .ProgressCradsContent-Titles{
    margin-bottom: 5rem;
}
.ProgressCradsContent .ProgressCradsContent-Titles h1{
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color);
}
.ProgressCradsContent .ProgressCradsContent-Titles h2{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--color);
}
.ProgressCradsContent .ProductProgressCradsContent-Titles{
    margin-bottom: 5rem;
}
.ProgressCradsContent .ProductProgressCradsContent-Titles h1{
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 1rem;
    color: var(--color);
}
.ProgressCradsContent .ProductProgressCradsContent-Titles h2{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    color: var(--color);
}
.ProgressCradsContent-cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.Progress-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 calc(25% - 20px);
    background-color: transparent;
    border: 1px solid var(--color);
    border-radius: 10px;
    padding: 2rem;
    gap: 2.5rem;
    cursor: pointer;
}
.Progress-card .Progress-card-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px);
     }
    65%  { transform: translate(0, 5px);}
    to   { transform: translate(0, -0px); }
}
.Progress-card .Progress-card-imgsvg{
    color: var(--color);
}
.Progress-card .Progress-card-text h3 {
    font-size: 1.85rem;
    color: var(--color);
    margin-bottom: 0.25rem;
}
.Progress-card .Progress-card-text p {
    font-size: 1.25rem;
    color: var(--color);
}
@media (max-width: 1150px) {
    .Progress-card {
      flex: 1 1 calc(50% - 20px);
    }
}
@media (max-width: 768px) {
    .ProgressCradsContent{
        padding: 180px 2rem 0px 2rem;
    }
}
@media (max-width: 700px) {
    .Progress-card {
        flex: 1 1 calc(100% - 20px);
    }
}